:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --accent-buton-color: #188ce8;
  --filter-button-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --logo-dark-color: #000000;
  --main-title-color: #ffffff;
  --light_bg-color: #f5f4fa;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--main-title-color);
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  color: var(--title-text-color);
}

.current,
.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.title {
  font-weight: 700;
  color: var(--title-text-color);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  outline: 2px solid red;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}

.heder {
  margin-bottom: 16px;
}

.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
}

.logo-web {
  color: var(--accent-text-color);
}

.logo-studio {
  color: var(--logo-dark-color);
}

.hero {
  background-color: var(--dark-bg-color);
  text-align: center;
}

.contact-link {
  color: var(--main-text-color);
}

.main-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--main-title-color);
}

.main-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-text-color);
  color: var(--main-title-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.main-button:focus,
.main-button:hover {
  background-color: var(--accent-buton-color);
}

/* Приемущества */

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list-title {
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.our-team {
  padding-top: 94px;
  background-color: var(--light_bg-color);
}

.team {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
}

.team-member {
  width: 270px;
  height: 368px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member:not(:last-child) {
  margin-right: 30px;
}

.team-member-photo {
  margin-bottom: 30px;
}
.our-team-member {
  padding-bottom: 10px;
}

.our-team-member {
  font-weight: 500;
  color: #212121;
}

.footer-section {
  background-color: var(--dark-bg-color);
}

.footer-container {
  outline: 2px solid red;
  width: 1200px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo-studio-footer,
.our-address {
  color: var(--main-title-color);
}
.link-footer {
  color: rgba(255, 255, 255, 0.6);
}

.filter {
  background-color: var(--filter-button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter:hover,
.filter:focus {
  background-color: var(--accent-text-color);
  color: var(--main-title-color);
}

.filter-item {
  width: 370px;
  height: 404px;
  background: #ffffff;
}

.filter-item-img {
  outline: 1px solid tomato;
}

.filter-item-title {
  outline: 1px solid tomato;
  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 20px 24px;
}

.list-item-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
/* сдесь не применяется font-weight:normal дефолтом (не могу найти почему) */
.list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}
